<div class="buttons">
    <div class="pull-right">
        <select id="payment_coinslot_status" class="form-control">
            <option value="">{{ entry_cryptocurrency }}</option>
            {% for cryptocurrency in cryptocurrencies_list %}
                <option value="{{ cryptocurrency }}">{{ cryptocurrency }}</option>
            {% endfor %}
        </select>
        <button id="coinslot_button_confirm" class="btn btn-success" data-url="{{ continue_url }}">{{ text_pay }}</button>
    </div>
</div>

<script>
    $( "#coinslot_button_confirm" ).click( function() {
        var option = $("#payment_coinslot_status").val();
        var confirm_url = $( "#coinslot_button_confirm" ).attr('data-url') + '&cryptocurrency=' + option;

        if (option) {
            window.location.href = confirm_url;
        } else {
            alert('Please, choose cryptocurrency');
        }
    });
</script>
